.hero {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title,
  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    position: relative;
    z-index: 1;
    font-size: var(--title-size);
    font-family: var(--title-font-2);
    @apply leading-none tracking-tight;
    &--line {
      @apply w-full flex items-center justify-start overflow-hidden px-1;
      height: var(--title-size);
      .spacer {
        @apply flex-1 h-[1px] bg-white ml-3 opacity-0 scale-x-0 origin-left;
      }
      span:not(.spacer) {
        @apply whitespace-pre inline-block translate-y-full;
      }
    }
  }
  &__video {
    position: absolute;
    inset: 0;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      @apply bg-black bg-opacity-80;
    }
    > video {
      opacity: 0;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1.4) rotate(-10deg);
    }
  }

  &__scroller {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    @apply flex items-center justify-center text-sm overflow-hidden;
    span {
      @apply inline-block translate-y-full;
    }
  }
}

.whatis {
  &__wrapper {
    @apply relative w-full h-[100rem] flex items-center justify-center;
  }
  &__inner {
    @apply w-full grid grid-cols-2 grid-rows-1 justify-items-center;
    &--left {
      @apply relative max-w-[50%] h-auto flex flex-col items-start justify-start;
      &-content {
        @apply relative text-start;
      }
      p {
        @apply my-0.5 opacity-0 translate-y-10;
      }
    }
    &--right {
      &-image {
        @apply relative w-[40vw] h-[70vw] mr-4 overflow-hidden rounded;
        img {
          @apply absolute w-full h-full object-cover object-center;
        }
      }
    }
  }
}

.howitworks {
  &__wrapper {
    @apply flex flex-col items-center justify-center;
  }
  &__inner {
    @apply flex flex-col items-center justify-center;

    &--content {
      @apply p-4 text-start;
      max-width: 600px;
      margin: 1.5rem auto;
      font-size: 1.25rem;
    }
  }
}

.meet {
  &__wrapper {
    @apply w-full relative flex flex-col items-center justify-center;
  }

  &__title {
    @apply absolute mt-64;
  }
  &__video {
    &--wrapper {
      &-controls {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10vw;
        .thumb {
          position: absolute;
          @apply w-full h-full object-cover opacity-10;
        }
        > span {
          @apply z-[1];
        }
      }
      video {
        @apply z-[2] invisible;
      }
    }
  }
}
