.hero {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title,
  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    width: 100%;
    height: 100%;
    @apply bg-black bg-opacity-60;
    position: relative;
    z-index: 1;
    padding-bottom: 1rem;

    > p {
      mix-blend-mode: exclusion;
      font-size: 1.4rem;
      font-family: 'Another-Regular';
    }
  }
  &__video {
    mix-blend-mode: screen;
    position: absolute;
    inset: 0;
    > video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.whatis {
  &__wrapper {
    @apply max-w-4xl flex flex-col items-center justify-center;
  }
  &__inner {
    @apply max-w-4xl flex flex-col items-center justify-center;

    &--content {
      @apply p-4 text-start;
    }
  }
}
