@font-face {
  font-family: 'Konstant';
  src: url('../../public/fonts/KonstantGrotesk.otf');
}
@font-face {
  font-family: 'NewYork';
  src: url('../../public/fonts/NewYork\ PERSONAL\ USE.otf');
}
@font-face {
  font-family: 'Cosmo';
  src: url('../../public/fonts/Cosmonaut.ttf');
}
@font-face {
  font-family: 'Another-Light';
  src: url('../../public/fonts/AGDisplayLight-demo.ttf');
}
@font-face {
  font-family: 'Another-Regular';
  src: url('../../public/fonts/AGDisplayRegular-demo.ttf');
}
@font-face {
  font-family: 'Arupala-air';
  src: url('../../public/fonts/ArupalaGroteskTrial-Air.ttf');
}
@font-face {
  font-family: 'Arupala-light';
  src: url('../../public/fonts/ArupalaGroteskTrial-Light.ttf');
}
@font-face {
  font-family: 'Arupala-semi';
  src: url('../../public/fonts/ArupalaGroteskTrial-SemiBold.ttf');
}
@font-face {
  font-family: 'Power';
  src: url('../../public/fonts/NeuePower-Regular-qo7lrz.ttf');
}
