@font-face {
  font-family: 'Konstant';
  src: url('../../public/fonts/KonstantGrotesk.otf');
}
@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../../public/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
    url('../../public/fonts/ClashDisplay-Semibold.woff') format('woff'),
    url('../../public/fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('../../public/fonts/ClashDisplay-Medium.woff2') format('woff2'),
    url('../../public/fonts/ClashDisplay-Medium.woff') format('woff'),
    url('../../public/fonts/ClashDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
